@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vie Politique</h1>
    <p class="lead">La crise politique qui anime notre pays est une opportunité. En 2014, nous pouvons certainement
     faire mieux et inventer une nouvelle gouvernance pour la France. Cette initiative citoyenne réclame votre
     implication afin d'élaborer une politique plus juste, plus efficace et plus transparente.</p>
    @*<p><a href="" class="btn btn-primary btn-lg">en savoir plus &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comprendre</h2>
        <p>
            La situation est complexe. Nous avons besoin d'une vue d'ensemble détaillée et comprehensible par chacun. 
            Les institutions, les sujets d'actualités, les personnalitées politiques, les opinions... seront décrit
            de façon objective et factuelles afin de dresser un historique et un tableau de la situation presente.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Réinventer</h2>
        <p>Le gouvernement semble dépassé et chaque nouvelle mesure pour tenter de relever le pays semble obscure et inneficace.
            Mais les choses peuvent être simplifiée tout en restant justes et pertinantes. Cette section est un bac à sable dans 
            lequels nous réinventons les institutions et les procédures. </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Reprendre le pouvoir</h2>
        <p>Oui, c'est possible. En organisant des actions citoyennes, en soutenant les projets et en s'impliquant dès maintenant
           à l'aide des outils de démocratie directe.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>